.mid-night {
  /* background-color: #1e1f26; */
  background-color: #dfdfef;
}

* {
  box-sizing: border-box;
}

.text-active {
  color: coral;
}

.border-r-6 {
  border-radius: 6px;
}

.bg-navy {
  background-color: #2e3652;
  padding: 10px;
}

.my-custom-scrollbar {
  position: relative;
  height: 70vh;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.text-silver {
  color: #dfdfef;
}

.bg-info-me {
  background-color: rgba(75, 192, 192, 1) !important;
}

.bg-info-blur-50 {
  background-color: rgba(75, 192, 192, 0.5) !important;
}

.bg-info-blur {
  background-color: rgba(75, 192, 192, 0.2) !important;
}

.text-info-me {
  color: rgba(75, 192, 192, 1);
}

.text-info-blur-50 {
  color: rgba(75, 192, 192, 0.5);
}

.text-info-blur {
  color: rgba(75, 192, 192, 0.2);
}

.bg-danger-me {
  background-color: #f93822ff;
}

.text-danger-me {
  color: #f93822ff !important;
}

.bg-danger-blur-50 {
  background-color: rgba(249, 56, 34, 0.5) !important;
}

.bg-danger-blur {
  background-color: rgba(249, 56, 34, 0.26) !important;
}

.bg-success-me {
  background-color: #53a567ff !important;
}

.text-success-me {
  color: #53a567ff;
}

.bg-success-blur-50 {
  background-color: rgba(83, 165, 103, 0.5) !important;
}

.bg-success-blur {
  background-color: rgba(83, 165, 103, 0.253) !important;
}

.w-card {
  min-width: 10em !important;
  max-width: 12em;
}

.fit-image {
  width: 2rem;
  height: 1.2rem;
  /* only if you want fixed height */
}
.max-w-pick {
  max-width: 5rem;
}
